.blogs-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.posts-container{
padding-left: 80px;
}
.sidebar{
    background-color: #F3F3F3;
    
}
.sidebar-container{
    padding-right: 80px;
}