.header{
height: 64px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px 80px 30px 80px;
}
.header h1{
    color: #111111;
}
.header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
