.cover{
    width: 845px;
    height: 450px;
    margin-top: 30px;
    
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    margin-top: 32px;
}
.user-info h3 ,p {
    margin:0 15px;
    margin-top: 1px;
}

.user img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
}
.post-info {
    margin-top: 16px;
    margin-bottom: 16px;
}
.post-info p{
margin: 0
}
.post-info button {
    text-decoration: underline;
    color: #6047EC;
    margin-bottom: 10px;
    }


button {
    background-color: #ffffff !important;
    padding: 0 !important;
    border: 0  none !important;
}
 button:hover{
    color: rgb(210, 29, 201);
}
